<!DOCTYPE html>
<html lang="en-uk">

<head>
  <title>Blog App | <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>

  <% if (signedIn) { %>
    <script>window.alert("Redirecting...")</script>
    <% } else { %>

      <header>
        <h1 class="center-text">
          <%= title %>
        </h1>
        <a href="/">Home</a>
      </header>

      <main>
        <form action="/logIn/logIn" method="post">
          <label for="username">Username: </label>
          <input type="text" name="username" id="username"><br>

          <p id="invalidUsername" style="color:red;"></p>
          <br>

          <label for="password">Password: </label>
          <input type="password" name="password" id="password"><br>

          <p id="invalidPassword" style="color:red;"></p>
          <br>

          <button type="submit" disabled id="submit">Log In</button>

        </form>

      </main>

      <footer>
        <p>Created by <a href="https://www.jackljones.com">Jack Jones</a></p>
      </footer>



      <% } %>



        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>

        <script>

          document.getElementById("username").addEventListener("input", function (e) {
            validate();
          });

          document.getElementById("password").addEventListener("input", function (e) {
            validate();
          });

          function validate() {

            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            var validUsername = true;
            var invalidUsernameMessage = "";

            var validPassword = true;
            var invalidPasswordMessage = "";

            if (username.length < 8 || username.length > 45) {
              validUsername = false;
              invalidUsernameMessage = "A username must be between 8 and 45 characters";
            }

            if (password.length < 8) {
              validPassword = false;
              invalidPasswordMessage = "A password must be more than 8 characters";
            }

            if (!/\d/.test(password)) {
              validPassword = false;
              invalidPasswordMessage = "A password must contain numbers";
            }

            if (!/[A-Z]/.test(password) && /[a-z]/.test(password)) {
              validPassword = false;
              invalidPasswordMessage = "A password must contain a mixture of lower and uppercase letters";
            }

            if (!/[\?!\@\"#$%&'\(\)\*\+\,\-\.\/]/.test(password)) {
              validPassword = false;
              invalidPasswordMessage = "A password must contain at least one of the following ? ! @ \" # $ % & ' ( ) * + , - . /";
            }



            document.getElementById("invalidUsername").innerText = invalidUsernameMessage;
            document.getElementById("invalidPassword").innerText = invalidPasswordMessage;

            document.getElementById("submit").disabled = !(validUsername && validPassword);

          }
        </script>

</body>

</html>